<!DOCTYPE HTML>

<html lang="en">



	<head>
		<meta charset="utf-8">

		<title>Red Pill Quotes</title>
		<meta name="keywords" content="Objective-C,ThinkGeek,Python,Ruby,Javascript,HTML&CSS,programming,programmer,web developer,software developer">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	</head>

	<body style="text-align:center; ">
            <h1>Quotes from The Matrix</h1> 

                <h2>   
                    Insert prefix below
                </h2>
         <div id="takePrefix">
                 
                <form id="startingWord" action="/words" method = "post"> 
                    <input style="radius: 50%; height: 20px; borders: white;" type="text"
                        
                        id="text_id" 
                        name="prefix"> 
            
                    <input type="submit" value="Submit prefix">
            
                </form> 
         </div>

	</body>

</html>
