<!DOCTYPE HTML>

<html lang="en">


	<head>

		<meta charset="utf-8">

		<title>Red Pill Quotes</title>
		<meta name="keywords" content="Objective-C,ThinkGeek,Python,Ruby,Javascript,HTML&CSS,programming,programmer,web developer,software developer">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

	</head>

	<body style="text-align:center; ">
            <h1>Quotes from The Matrix</h1> 

            <div id="words" style="width: 200px; margin-left: auto; margin-right: auto;">
                 <table id="generatedWords">
                <tr>
                    <th>Choose a word to generate a sentence:</th>
                </tr>
                        {% for word in words %}
                    <tr>
                        <th>{{word}}</th>
                    </tr>
                        {% endfor %}    
                </table>
            </div>

        <div id="autcomplete">
                <h3>Copy paste your word below</h3> 
                <form id="sentenceGeneration" action="http://localhost:5000/quote" method="post"> 
                    <input style="radius: 50%; height: 20px; borders: white;" type="text"
                        
                        id="sentence_id" 
                        name="chosen_word"> 
            
                    <input type="submit" value="Generate a quote">
            
                </form> 
        </div>

	</body>

</html>
