<!DOCTYPE HTML>

<html lang="en">



	<head>

		<meta charset="utf-8">

		<title>Red Pill Quotes</title>
		<meta name="keywords" content="Objective-C,ThinkGeek,Python,Ruby,Javascript,HTML&CSS,programming,programmer,web developer,software developer">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

	</head>

	<body style="text-align:center; ">
            <h1>Quotes from The Matrix</h1> 

		<div style="margin: 0 auto;" id='console' class="outer">
                
                <h2 id='sentence'>{{displayed}}</h2>
                 
        </div>

    <script>
    // function that prints the sentece letter by letter
        var message = document.getElementById('sentence').innerHTML;
        
        var delayPrint = function (target, message, index, interval) {
            if (index < message.length) {
                $(target).append(message[index++]);
                setTimeout(function () { delayPrint(target, message, index, interval); }, interval);
                }
            }
        let printWithEffect = $(function () {
            delayPrint("#sentence", message, 0, 30);   
        });
        document.getElementById('sentence').innerHTML = printWithEffect

        console.log(message)
        console.log(printWithEffect)


         
    </script>
	</body>

</html>
